#sign-in-container {
    height: 100%;
    margin: auto;
    width: 30%;
    background-color: hsl(92, 36%, 65%);
    text-align: center;
    border-radius: 10px;
    color: white;
}

.login-details input {
    width: 60%;
    margin: 10px;
}

::ng-deep#sign-in-container .p-button {
    margin: 10px;
}