<h1>{{ this.categoryService.selectedCategory?.name }}</h1>

<div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 1rem">
    <p-card *ngFor="let product of productsInCategory">
        <p-carousel [value]="product.images">
            <ng-template let-image pTemplate="item">
                <img style="max-width: 10rem; max-height: 20rem; object-fit: cover;" [src]="image" alt="">
            </ng-template>
        </p-carousel>
        <p><b>{{ product.name }}</b></p>
        <p>{{ product.price }} HUF<br><span style="font-size: 0.75em;">{{ product.stock}} in stock</span></p>
    </p-card>
</div>
