/* @import"primeng/resources/themes/vela-green/theme.css"; */
@import"primeng/resources/themes/saga-green/theme.css";
@import"primeng/resources/primeng.css";

/* * {
    outline: 1px solid red;
} */

html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

/* App root */

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* Nav bar */

app-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 7.5rem;
    background-color: rgb(193, 216, 173);
}

app-site-id {
    display: block;
    height: 100%;
}

app-categories-dropdown {
    display: block;
}

/* Cart */

app-cart-button {
    display: block;
    height: 100%;
}

app-cart-button p-button {
    display: block;
    height: 100%;
}

app-cart-button button {
    display: block;
    height: 100%;
}

app-cart-button button img {
    width: 80%;
}

/* Footer */

app-footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: auto;
    height: 3.5rem;
    background-color: rgb(193, 216, 173);
}

/* Main section */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0rem 1rem;
    min-height: 100%;
}