
/* @import"primeng/resources/themes/vela-green/theme.css"; */
@import"primeng/resources/themes/saga-green/theme.css";
@import"primeng/resources/primeng.css";

* {
    outline: 1px solid red;
}

body {
    margin: 0px;
}

/* Nav bar */

app-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 7.5rem;
    background-color: rgb(193, 216, 173);
}

app-site-id {
    display: block;
    height: 100%;
}

app-categories-dropdown {
    display: block;
}

/* Cart */

app-cart-button {
    display: block;
    height: 100%;
}

app-cart-button p-button {
    display: block;
    height: 100%;
}

app-cart-button button {
    display: block;
    height: 100%;
}

app-cart-button button img {
    width: 80%;
}